
.sidebar{
    width: 16%;
    min-height: 80vh;
    border: 1px solid #a9a9a9;
    border-top: 0;
}
.sidebar-options{
    padding: 2rem 0 0 20% ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option{
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    border: 2px solid #e9e8e9;
    padding: 5px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    cursor: pointer;
}

.sidebar-option.active{
    background-color: #dfd4d4;
    border-color: rgb(239, 185, 185);
}
@media screen and (max-width:950px){
    .sidebar-option p{
        display: none;
    }
}